<table class=" table-striped" style="width:353px;">
	<tr ng-repeat="item in items" class="simpleCart_shelfItem">	
			<td><a class="item_name" ng-href='#/item/{{item.id}}'>
				{{item.name}}</a></td>
		    <td class="item_price">{{item.price}} kr</td>
			<td><input type="text" value="{{item.quantity}}" class="item_Quantity"></input></td>
			<td><a class="item_add" ng-href="javascript:;" ng-click="addToBasket(item);">Add to Cart </a></td>
			<td><a ng-href='#/item/{{item.id}}'>
					<img style="width:100px;height:80px;"class="item-thumb" ng-src="imageitems/{{item.front_image}}"></img>
			</a></td>
		
	</tr>
 </table>
